{:aliases
 {:release {:extra-paths ["dev"]
            :extra-deps {appliedscience/deps-library {:mvn/version "0.3.4"}
                         org.apache.maven/maven-model {:mvn/version "3.6.3"}}
            :main-opts ["-m" "release"]}}}