{:dev-http {3000 "public"}
 :source-paths ["src" "test" "dev"]
 :dependencies [[applied-science/js-interop "0.4.2"]]
 :builds {:app {:target :browser
                :output-dir "public/js"
                :asset-path "/js"
                :modules {:main {:entries [app.core]}}}
          :test {:target :node-script
                 :main solid.test-runner/main
                 :output-to "out/test.js"}
          :vitest {:target :esm-files ; https://github.com/thheller/shadow-cljs/blob/master/CHANGELOG.md#22810---2024-06-22
                   :output-dir "out/vitest"
                   :ns-regexp "^vitest."}}}
