{:dev-http {3000 "public"}
 :source-paths ["src" "test" "dev"]
 :builds {:app {:target :browser
                :output-dir "public/js"
                :asset-path "/js"
                :modules {:main {:entries [app.core]}}}
          :test {:target :node-script
                 :main solid.test-runner/main
                 :output-to "out/test.js"}}}
